@import url(main.css);

/* ==== Header ==== */
.header {
    position: relative;
}

.header-2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: var(--main-color);
    height: 50px;

    box-shadow: var(--shadow);
}

.header-nav-2 li{
    float: left;
}

.header-nav-2 li a {
    color: var(--text-color);
    font-weight: 400;
    padding: 0 20px;
    font-size: 14px;
}

.header-2 .search-nav label {
    color: var(--bg-color);
    margin: 0 20px;
}

.header-2 .search-nav input {
    background: url();
    padding: 6px 8px;
    width: 300px;
    border: none;
}

.header-2 .header-nav-2 li a {
    color: var(--bg-color);
    font-size: 18px;
}

.header-2 .header-nav-2 li a:hover {
    color:var(--text-color);
}

#btn-search {
    display: none;
}

#close-search {
    display: none;
    margin: 0 20px;
    cursor: pointer;
    scale: 1.2;
}

#btn-cart-header,
#btn-fav-header {
    position: relative;
}

.quantity-cart {
    position: absolute;
    right: 8px;
    top: -8px;
    font-size: 12px;
    background-color: rgb(237, 38, 24);
    border-radius: 50%;
    height: 18px;
    width: 18px;
}


/* cart */
.cart-container {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 10px;
    left: 0;
    width: 300px;

    background-color: var(--item-color);
    border-radius: 4px;
    padding: 4px 6px;
    box-shadow: var(--shadow);

    font-weight: 500;
}

.close-cart {
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
    transition: none;
}

.close-cart:hover {
    color: var(--text-color);
}

.cart-heading {
    background-color: var(--main-color);
    border-radius: 2px;
    text-transform: uppercase;
}

/* #cart-products {
    max-height: 560px;
    overflow-y: scroll;
} */

.cart-total {
    padding: 6px;
}

.cart-product {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 8px 0;
    border-bottom: 1px dashed var(--bg-color);
}

.cart-product-img {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-product-name {
    font-size: 14px;
}

.cart-product-price {
    font-size: 12px;
}

.cart-cartactions {
    background-color: var(--main-color);
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 0;
    margin: 0 4px;
    width: 50%;
}
.cart-cartactions:hover {
    color: var(--text-color);
}
.cart-product-delete {
    cursor: pointer;
    color: red;
    background-color: inherit;
}



@media (max-width: 740px) {
    .search-nav {
        display: none;
    }

    .header-nav.header-nav-2 {
        display: block;
    }

    #btn-search {
        display: inline-block;
    }

    #close-search {
        display: inline-block;
    }

    .header-2 .search-nav label {
        margin: 0 4px;
    }

    .header-2 .search-nav input {
        width: 55%;
    }

    .cart-container {
        position: fixed;
        width: 100%;
        top: 0;
        height: 100vh;
    }

    .cart-heading {
        font-size: 30px;
        font-weight: 600;
    }

    .cart-product-name,
    .cart-product-price {
        font-size: 24px;
        font-weight: 600;
    }

    .cart-total {
        font-size: 30px;
        font-weight: 600;
    }

    .close-cart {
        font-size: 44px;
    }

    .cart-cartactions {
        font-size: 24px;
        border-radius: 10px;
        font-weight: 600;
    }

    .cart-product-delete {
        font-size: 24px;
    }
}


/* favourite */
.fav-container {
    display: none;
}

.fav-products {
    display: flex; 
    flex-wrap: wrap;
}

.fav-item {
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 4px;
    cursor: pointer;
}

/* notice */
#notice-container {
    z-index: 1;
    min-height: 400px;
    width: 220px;
}


/* ===== Slide =====  */
.section-slide {
    position: relative;
    margin: 32px 0;
}

.slide-item {
    height: 100%;
    width: 100%;
    display: none;
    margin: auto;
}

.slide-item img {
    max-height: 975px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* ==== Side Bar ===== */
.sidebar {
    padding-right: 12px;
}

.sidebar-item {
    background-color: var(--item-color);
    margin-bottom: 20px;
}

.sidebar-item h3 {
    background-color: var(--main-color);
    text-transform: uppercase;
    padding: 4px 8px;
}

.sidebar-item li,  
.sidebar-item li a{
    color: var(--bg-color);
    display: inline-block;
    transition: all 1s ease;
}

.sidebar-item li {
    padding: 4px 12px;
}

.sidebar-item li a {

}

/* === category ==== */

.sidebar-category li a {
    position: relative;
}


.sidebar-category li a::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    background-color: var(--main-color);
    width: 0;
    transition: all 0.4s ease-in;
}

.sidebar-category li a:hover::after {
    width: 100%;
}

.sidebar-item input[type="checkbox"] {
    margin-right: 6px;
    cursor: pointer;
    scale: 1.2;
}

@media (max-width: 750px) {
    
}


/* ====== Product ====== */
.main-product {
    padding-left: 12px;
}

.product-head {
    display: flex;
    justify-content: space-between;  
    align-items: center;

    background-color: var(--main-color);
    height: 40px;
    padding: 0 10px;
}

.product-head h3 {
    text-transform: uppercase;
}

.product-head p {
    display: inline-block;
}

.product-head select {
    height: 28px;
}

/* === Product Item ==== */
.product-content {
    margin-top: 8px;
}


.product-item {
    position: relative;
    background-color: var(--item-color);
    overflow: hidden;
    margin-bottom: 20px;
}

.product-img {
    padding-top: 140%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    cursor: pointer;
}

.product-img:hover {
    opacity: 0.3;
}

.product-infor {
    padding: 0 6px;
}

.product-name {
    display: block;
    height: 50px;
    color: var(--bg-color);

    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.product-infor p {
    display: inline-block;
}

.product-price-sale {
    color: var(--main-color);
}

.product-price-old {
    float: right;
    text-decoration: line-through;
    opacity: 0.7;
}

.product-item .product-discount {
    position: absolute;
    right: 0;
    top: 0;

    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.product-item .product-discount p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}

#cart-products {
    max-height: 400px;
    overflow-y: scroll;
}

#cart-products::-webkit-scrollbar {
    width: 4px;
}

.product-favourite {
    background-color: var(--item-color);
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    height: 32px;
}

.unfav {
    display: none;
    color: #ed2618;
}

.product-addtocart {
    font-size: 14px;
    background-color: var(--main-color);
    cursor: pointer;
    float: right;
    width:  80%;
    min-height: 32px;
    padding: 0 8px;
}

.product-addtocart:hover {
    opacity: 0.8;
}


@media (max-width: 740px) {
    .sidebar {
        padding: 0;
    }

    .main-product {
        padding: 0;
        margin: 0;
    }

    .product-head p {
        display: none;
    }

    #cart-products {
        max-height: 75vh;
        overflow-y: scroll;
    }
    
}


/* ==== Pagination ==== */
.pagination-product {
    margin: 40px 0;
    width: 100%;
    height: auto;
}

.pagination-product ul {
    display: flex;
    justify-content: center;
}

.pagination-product ul li {
    margin: 8px;
    background-color: var(--text-color);
}

.pagination-product ul li a {
    padding: 12px 20px;
    color: var(--bg-color);
    display: block;
}

.pagination-product ul li:first-child a,
.pagination-product ul li a:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}


.pagination-product ul li a i {
    color: var(--bg-color)
}

/* ==== Popup add to cart ==== */
.popup-container {
    display: none;
}

.popup {
    position: fixed;
    right: 0;
    bottom: 10%;
    z-index: 2;
    height: 52px;
    width: 270px;
    background-color: var(--item-color);
    padding: 0 4px;


    border-radius: 6px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popup i {
    padding: 0 4px;
    font-size: 24px;
    color: #2AD024;
}

.popup p {
    font-size: 14px;
    padding: 0 4px;
}

@media (max-width: 750px) {
    .popup {
        top: 60px;
    }
}


/* ==== MODAL USER ==== */
.modal-container {
    width: 660px;
    min-height: 380px;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;

    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.modal-container form {
    margin: 30px 0;
}

.modal-container form h1 {
    margin: 4px 0 16px;
}

.modal-container form p {
    color: rgb(253, 65, 65);
    font-size: 14px;
}

.modal-container form input {
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding: 0 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: none;
}

.modal-container form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.modal-container form label {
   
}

.modal-container form button {
    width: 100%;
    background-color: var(--main-color);
    border: none;
    height: 40px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 8px;
}

.modal-container form a {
    color: var(--bg-color);
    display: block;
    margin: 8px 0;
}

#btn-create {
    color: var(--main-color);
}

.modal-close {
    position: absolute;
    right: 0;
}

.modal-close i {
    font-size: 20px;
    margin: 12px 16px;
    transition: none;
    scale: 1.8;
}

.modal-close i:hover {
    cursor: pointer;
    color: var(--main-color);
}

@media (max-width: 750px) {


    .modal-container {
        width: 100%;
        height: 100%;
    }

    .modal-container form {
        margin-top: 120px;
    }

    .modal-container form input {
        width: 300px;
    }

    .modal-close i {
        scale: 2.5;
        margin: 20px 28px;
    }
}